In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

Read and open all the data files in the folder.

In [4]:
data_country = pd.read_csv('datasets/GlobalLandTemperaturesByCountry.csv')
data_city = pd.read_csv('datasets/GlobalLandTemperaturesByCity.csv')
data_major_city = pd.read_csv('datasets/GlobalLandTemperaturesByMajorCity.csv')
data_state = pd.read_csv('datasets/GlobalLandTemperaturesByState.csv')
data_global = pd.read_csv('datasets/GlobalTemperatures.csv')

Look at the top5 rows of all the DataFrames to identify column names and their value types.

In [5]:
data_country.head()

           dt  AverageTemperature  AverageTemperatureUncertainty Country
0  1743-11-01               4.384                          2.294   Åland
1  1743-12-01                 NaN                            NaN   Åland
2  1744-01-01                 NaN                            NaN   Åland
3  1744-02-01                 NaN                            NaN   Åland
4  1744-03-01                 NaN                            NaN   Åland

In [6]:
data_city.head()

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
0,1743-11-01,6.068,1.737,Århus,Denmark,57.05N,10.33E
1,1743-12-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
2,1744-01-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
3,1744-02-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
4,1744-03-01,NaN,NaN,Århus,Denmark,57.05N,10.33E

In [7]:
data_state.head()

           dt  AverageTemperature  AverageTemperatureUncertainty State Country
0  1855-05-01              25.544                          1.171  Acre  Brazil
1  1855-06-01              24.228                          1.103  Acre  Brazil
2  1855-07-01              24.371                          1.044  Acre  Brazil
3  1855-08-01              25.427                          1.073  Acre  Brazil
4  1855-09-01              25.675                          1.014  Acre  Brazil

In [8]:
data_global.head()

,dt,LandAverageTemperature,LandAverageTemperatureUncertainty,LandMaxTemperature,LandMaxTemperatureUncertainty,LandMinTemperature,LandMinTemperatureUncertainty,LandAndOceanAverageTemperature,LandAndOceanAverageTemperatureUncertainty
0,1750-01-01,3.034,3.574,NaN,NaN,NaN,NaN,NaN,NaN
1,1750-02-01,3.083,3.702,NaN,NaN,NaN,NaN,NaN,NaN
2,1750-03-01,5.626,3.076,NaN,NaN,NaN,NaN,NaN,NaN
3,1750-04-01,8.490,2.451,NaN,NaN,NaN,NaN,NaN,NaN
4,1750-05-01,11.573,2.072,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
data_major_city.head()

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
0,1849-01-01,26.704,1.435,Abidjan,Côte D'Ivoire,5.63N,3.23W
1,1849-02-01,27.434,1.362,Abidjan,Côte D'Ivoire,5.63N,3.23W
2,1849-03-01,28.101,1.612,Abidjan,Côte D'Ivoire,5.63N,3.23W
3,1849-04-01,26.140,1.387,Abidjan,Côte D'Ivoire,5.63N,3.23W
4,1849-05-01,25.427,1.200,Abidjan,Côte D'Ivoire,5.63N,3.23W

General information for each DataFrame using info() method

In [10]:
data_country.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 577462 entries, 0 to 577461
Data columns (total 4 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   dt                             577462 non-null  object
 1   AverageTemperature             544811 non-null  float64
 2   AverageTemperatureUncertainty  545550 non-null  float64
 3   Country                        577462 non-null  object
dtypes: float64(2), object(2)
memory usage: 17.6+ MB

In [11]:
data_city.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8599212 entries, 0 to 8599211
Data columns (total 7 columns):
 #   Column                         Dtype
---  ------                         -----
 0   dt                             object
 1   AverageTemperature             float64
 2   AverageTemperatureUncertainty  float64
 3   City                           object
 4   Country                        object
 5   Latitude                       object
 6   Longitude                      object
dtypes: float64(2), object(5)
memory usage: 459.2+ MB

In [12]:
data_major_city.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 239177 entries, 0 to 239176
Data columns (total 7 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   dt                             239177 non-null  object
 1   AverageTemperature             228175 non-null  float64
 2   AverageTemperatureUncertainty  228175 non-null  float64
 3   City                           239177 non-null  object
 4   Country                        239177 non-null  object
 5   Latitude                       239177 non-null  object
 6   Longitude                      239177 non-null  object
dtypes: float64(2), object(5)
memory usage: 12.8+ MB

In [13]:
data_state.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 645675 entries, 0 to 645674
Data columns (total 5 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   dt                             645675 non-null  object
 1   AverageTemperature             620027 non-null  float64
 2   AverageTemperatureUncertainty  620027 non-null  float64
 3   State                          645675 non-null  object
 4   Country                        645675 non-null  object
dtypes: float64(2), object(3)
memory usage: 24.6+ MB

In [14]:
data_global.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3192 entries, 0 to 3191
Data columns (total 9 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   dt                                         3192 non-null   object
 1   LandAverageTemperature                     3180 non-null   float64
 2   LandAverageTemperatureUncertainty          3180 non-null   float64
 3   LandMaxTemperature                         1992 non-null   float64
 4   LandMaxTemperatureUncertainty              1992 non-null   float64
 5   LandMinTemperature                         1992 non-null   float64
 6   LandMinTemperatureUncertainty              1992 non-null   float64
 7   LandAndOceanAverageTemperature             1992 non-null   float64
 8   LandAndOceanAverageTemperatureUncertainty  1992 non-null   float64
dtypes: float64(8), object(1)
memory usage: 224.6+ KB

<font color=red>Let's look at which columns to merge so as to have a consolidated analysis.</font>

In [15]:
# data_global does not have a country column...so we can analyze per year, month etc
#data_major_city has country, date and city columns...looks good for analysis
# data_city has more rows because it is contains every other city 
#data_country can have an analysis of a country generally.
# It would be interesting to see how a major city or city affects the country's overall land temperatures.
#Other contributing factors.

In [16]:
#what do land temperatures mean in relation to climate change?
#what do ocean temperatures mean in relation to climate change?
# what is climate change?? LOL!!!
#Which years matter?

#So, I will do analysis for each dataset, and see how they fit into each other.

# Global Temperatures

In [25]:
data_global.sample(10)

,dt,LandAverageTemperature,LandAverageTemperatureUncertainty,LandMaxTemperature,LandMaxTemperatureUncertainty,LandMinTemperature,LandMinTemperatureUncertainty,LandAndOceanAverageTemperature,LandAndOceanAverageTemperatureUncertainty
2150,1929-03-01,5.099,0.191,10.982,0.229,-1.131,0.289,14.079,0.121
596,1799-09-01,12.311,1.378,NaN,NaN,NaN,NaN,NaN,NaN
3128,2010-09-01,12.863,0.065,18.603,0.092,7.252,0.117,16.761,0.054
2814,1984-07-01,14.429,0.137,20.109,0.075,8.958,0.191,16.961,0.063
976,1831-05-01,10.994,1.285,NaN,NaN,NaN,NaN,NaN,NaN
1700,1891-09-01,11.763,0.264,17.649,0.614,5.704,0.342,16.070,0.140
677,1806-06-01,12.418,0.837,NaN,NaN,NaN,NaN,NaN,NaN
1966,1913-11-01,6.024,0.213,11.670,0.305,0.347,0.278,14.123,0.111
1777,1898-02-01,2.354,0.314,8.239,0.377,-3.651,0.460,13.364,0.149
3153,2012-10-01,10.428,0.098,16.203,0.099,4.765,0.134,16.019,0.063

In [18]:
data_global.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3192 entries, 0 to 3191
Data columns (total 9 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   dt                                         3192 non-null   object
 1   LandAverageTemperature                     3180 non-null   float64
 2   LandAverageTemperatureUncertainty          3180 non-null   float64
 3   LandMaxTemperature                         1992 non-null   float64
 4   LandMaxTemperatureUncertainty              1992 non-null   float64
 5   LandMinTemperature                         1992 non-null   float64
 6   LandMinTemperatureUncertainty              1992 non-null   float64
 7   LandAndOceanAverageTemperature             1992 non-null   float64
 8   LandAndOceanAverageTemperatureUncertainty  1992 non-null   float64
dtypes: float64(8), object(1)
memory usage: 224.6+ KB

In [ ]:
data.duplicated().sum()

I'll rename the columns to shorter less wordy labels

In [39]:
data_global.columns = ['date', 'L_avg_temp', 'L_avg_temp_uncert', 'L_max_temp', 'L_max_temp_uncert', 
                       'L_min_temp', 'L_min_temp_uncert', 'L_O_avg_temp', 'L_O_avg_temp_uncert']

In [40]:
data_global.columns

Index(['date', 'L_avg_temp', 'L_avg_temp_uncert', 'L_max_temp',
       'L_max_temp_uncert', 'L_min_temp', 'L_min_temp_uncert', 'L_O_avg_temp',
       'L_O_avg_temp_uncert'],
      dtype='object')

Let's look at missing values and why they're missing.

In [72]:
data_global.isnull().sum()

date                   0
L_avg_temp             0
L_avg_temp_uncert      0
L_max_temp             0
L_max_temp_uncert      0
L_min_temp             0
L_min_temp_uncert      0
L_O_avg_temp           0
L_O_avg_temp_uncert    0
dtype: int64

#### There could be missing temperature values, because as described in the introduction at Kaggle:

- There could be some inconsistency when the technicians collected the data
- Constructions of airports caused weather stations to be moved, hence some values would be missing.
- Electronic thermometers used are said to have cooling bias, thus some inconsistencies arouse.
- It could also be that data transferred from the database was lost.
- Or due to a programming error.

In [42]:
data_global['date'].unique()

array(['1750-01-01', '1750-02-01', '1750-03-01', ..., '2015-10-01',
       '2015-11-01', '2015-12-01'], dtype=object)

Filling in missing values, using the fillna() method.

I will fill with the median value, so that it does not affect the mean...but also seeing that the mean and the median are the same, it's good.

In [50]:
data_global.L_avg_temp.describe()
median_temp = data_global.L_avg_temp.median()
data_global.L_avg_temp.fillna(value=median_temp, inplace=True)

In [55]:
data_global.L_avg_temp_uncert.describe()
median_temp_uncert = data_global.L_avg_temp_uncert.median()
data_global.L_avg_temp_uncert.fillna(value=median_temp_uncert, inplace=True)

In [58]:
data_global.L_max_temp.describe()
median_max_temp = data_global.L_max_temp.median()
data_global.L_max_temp.fillna(value=median_max_temp, inplace=True)

In [61]:
data_global.L_max_temp_uncert.describe()
median_max_temp_uncert = data_global.L_max_temp_uncert.median()
data_global.L_max_temp_uncert.fillna(value=median_max_temp_uncert, inplace=True)

In [64]:
data_global.L_min_temp.describe()
median_min_temp = data_global.L_min_temp.median()
data_global.L_min_temp.fillna(value=median_min_temp, inplace=True)

In [66]:
data_global.L_min_temp_uncert.describe()
median_min_temp_uncert = data_global.L_min_temp_uncert.median()
data_global.L_min_temp_uncert.fillna(value=median_min_temp_uncert, inplace=True)

In [69]:
data_global.L_O_avg_temp_uncert.describe()
median_temp_uncert = data_global.L_O_avg_temp_uncert.median()
data_global.L_O_avg_temp_uncert.fillna(value=median_temp_uncert, inplace=True)

In [71]:
data_global.L_O_avg_temp.describe()
median_temp = data_global.L_O_avg_temp.median()
data_global.L_O_avg_temp.fillna(value=median_temp, inplace=True)

In [73]:
# check 0 isnull columns
data_global.isnull().sum()

date                   0
L_avg_temp             0
L_avg_temp_uncert      0
L_max_temp             0
L_max_temp_uncert      0
L_min_temp             0
L_min_temp_uncert      0
L_O_avg_temp           0
L_O_avg_temp_uncert    0
dtype: int64

I will check for duplicates using the duplicated() method.

In [75]:
data_global.duplicated().sum()

0

#### EDA on global temperatures